/* ทำให้ scroll แนวตั้งได้แต่ไม่เห็น scrollbar */
.scroll-area {
  overflow-y: scroll;
  scrollbar-width: none; /* สำหรับ Firefox */
  -ms-overflow-style: none; /* สำหรับ IE และ Edge เก่า */
}

.scroll-area::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari */
}
/* ทำให้ scroll แนวตั้งได้แต่ไม่เห็น scrollbar */